body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  min-height: 100vh;
}
/* reset */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.page-nav-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.page-nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.page-nav-link:active {
  color: #404bbf;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.page-nav-address {
  font-style: normal;
  margin-left: auto;
}

.page-nav-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav-address-link:hover,
.page-nav-address-link:focus {
  color: #404bbf;
}

.page-nav-address-link:active {
  color: #404bbf;
}

/* hero section */

.main-page {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-title {
  max-width: 496px;
  margin: 0 auto 48px;
}

.button-container {
  display: block;
  min-width: 169px;
  padding-bottom: 188px;
  border: none;
  height: 56px;
  margin: 0 auto;
}

.main-page-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
}

.main-page-button:hover,
.main-page-button:focus {
  background-color: #404bbf;
}

.main-page-button:active {
  background-color: #404bbf;
}

/* Content section */

.content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.content-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
}

.content-page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
  color: #2e2f42;
  margin-bottom: 8px;
}

.content-page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: start;
  color: #434455;
}

/* team sectuon */

.page-team {
  background-color: #f4f4fd;
}

.page-team-list {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.page-team-head {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 24px * 3) / 4);
}

.page-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.page-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.container-team {
  padding: 32px 0;
}

/* portfolio section */

.page-portfolio {
  background-color: #f4f4fd;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  background-color: #ffffff;
}

.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}
.page-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.page-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer section */

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-page-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-page-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
